$darkGreen: #00494d;
$sage: #5e7a7d;
$lightSage: #7f9c9f;
$lighterSage: #9EBBBD;
$lightGreen: #c5e4e7;
$lightestGreen: #f4fafa;
$white: #ffffff;
$brand: #26c0ab;
$brandHover: #9fe8df;
$inactive: #0d686d;
$error: #c67f6b;